h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#results {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}